footer(class="footer mt-auto py-5 text-center")
    a(class="mt-5 link-success" href="/") Repositorio del proyecto
    br
    br
    span(class="text-muted") Made with ❤️  by 
        a(href="https://echvzb.me") echvzb
